<div class="container animated fadeIn fast">
    <h1>¿Quiénes somos? <i class="fas fa-seedling"></i>
    </h1>
    <hr>

    <img class="img img-fluid img-responsive h-20" src="assets/img/plantas/flores.jpg" alt="imagen de pastel">

    <p class="mt-5 text-justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dignissimos voluptatem blanditiis veniam sunt, sequi totam ea deserunt, vel optio, accusantium at voluptates in laudantium odit aperiam suscipit et omnis. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Aspernatur itaque, non doloribus voluptas accusantium perspiciatis quisquam quae maxime accusamus distinctio ipsa doloremque ipsam ex deleniti id. Molestiae porro hic velit. Lorem ipsum, dolor sit amet consectetur adipisicing
        elit. Voluptatibus dignissimos consectetur nihil, asperiores aliquam repellendus officia distinctio voluptatum officiis reprehenderit quia exercitationem eum perferendis dicta vero assumenda beatae, alias tempora?<br><br> Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Nesciunt dignissimos voluptatem blanditiis veniam sunt, sequi totam ea deserunt, vel optio, accusantium at voluptates in laudantium odit aperiam suscipit et omnis. Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Aspernatur itaque, non doloribus voluptas accusantium perspiciatis quisquam quae maxime accusamus distinctio ipsa doloremque ipsam ex deleniti id. Molestiae porro hic velit. Lorem ipsum, dolor sit amet <br> adipisicing elit. Voluptatibus
        dignissimos consectetur nihil, asperiores aliquam repellendus officia distinctio voluptatum officiis reprehenderit quia exercitationem eum perferendis dicta vero assumenda beatae, alias tempora?<br> Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Suscipit soluta neque eaque expedita tenetur distinctio ipsam, ducimus nulla impedit, tempore sequi voluptate quos inventore modi corporis dolore deleniti odit quasi<br>
    </p>
</div>