<div class="container animated fadeIn fast">
    <div class="card-group mb-1">
        <div class="card">
            <img class="card-img-top" src="assets/img/plantas/p1.JPG" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Planta 1</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dignissimos aspernatur sit inventore suscipit maxime molestiae similique.</p>
            </div>
            <div class="card-footer bg-dark">
                <small class="text-muted">Costo: $200</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/plantas/p2.JPG" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Planta 2</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dignissimos aspernatur sit inventore suscipit maxime molestiae similique.</p>
            </div>
            <div class="card-footer bg-dark">
                <small class="text-muted">Costo: $200</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/plantas/p3.JPG" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Planta 3</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dignissimos aspernatur sit inventore suscipit maxime molestiae similique.</p>
            </div>
            <div class="card-footer bg-dark">
                <small class="text-muted">Costo: $200</small>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="assets/img/plantas/p4.JPG" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Planta 4</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dignissimos aspernatur sit inventore suscipit maxime molestiae similique.</p>
            </div>
            <div class="card-footer bg-dark">
                <small class="text-muted">Costo: $200</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/plantas/p5.JPG" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Planta 5</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dignissimos aspernatur sit inventore suscipit maxime molestiae similique.</p>
            </div>
            <div class="card-footer bg-dark">
                <small class="text-muted">Costo: $200</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/plantas/p6.JPG" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Planta 6</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores dignissimos aspernatur sit inventore suscipit maxime molestiae similique.</p>
            </div>
            <div class="card-footer bg-dark">
                <small class="text-muted">Costo: $200</small>
            </div>
        </div>
    </div>
</div>